// TODO: Migrate all testing projects to .NET Core before updating xunit.runner.visualstudio to 2.4.2!

framework: netcoreapp3.1
source https://api.nuget.org/v3/index.json

nuget Antlr4
nuget HtmlAgilityPack
nuget Humanizer.Core
nuget JetBrains.Annotations
nuget J2N ~> 1.0.0-beta-0002
nuget Lucene.Net >= 4.8.0-beta00001
nuget Lucene.Net.Analysis.Common >= 4.8.0-beta00001
nuget Newtonsoft.Json
nuget NLog
nuget Polly
nuget SixLabors.ImageSharp
nuget Stateless
nuget System.Reactive
nuget System.Reactive.Linq
nuget System.Threading.Tasks.Extensions
nuget Unity
nuget Unity.RegistrationByConvention
nuget YamlDotNet

group _UI

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget Caliburn.Micro ~> 4.0.136-rc
    nuget MahApps.Metro
    nuget OxyPlot.Wpf
    nuget ReactiveUI
    nuget ReactiveUI.WPF

group _Console

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget CommandLineParser

group _Support

    framework: netstandard2.1
    source https://api.nuget.org/v3/index.json

    nuget Antlr4
    nuget HtmlAgilityPack
    nuget Humanizer.Core
    nuget JetBrains.Annotations
    nuget J2N ~> 1.0.0-beta-0002
    nuget Lucene.Net >= 4.8.0-beta00001
    nuget Lucene.Net.Analysis.Common >= 4.8.0-beta00001
    nuget Newtonsoft.Json
    nuget NLog
    nuget SixLabors.ImageSharp
    nuget Stateless
    nuget System.Reactive
    nuget System.Reactive.Linq
    nuget YamlDotNet

group _Test

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Microsoft.NET.Test.Sdk
    nuget Moq
    nuget xunit
    nuget xunit.runner.visualstudio

group _Test_Support

    framework: netstandard2.1
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Moq
    nuget xunit