framework: net472
source https://api.nuget.org/v3/index.json

nuget Antlr4
nuget Humanizer.Core
nuget JetBrains.Annotations
nuget J2N ~> 1.0.0-beta-0002
nuget Lucene.Net >= 4.8.0-beta00001
nuget Lucene.Net.Analysis.Common >= 4.8.0-beta00001
nuget Newtonsoft.Json
nuget NLog
nuget Polly
nuget Stateless
nuget System.Reactive
nuget System.Reactive.Linq
nuget System.Threading.Tasks.Extensions
nuget Unity
nuget Unity.RegistrationByConvention

group _Contract
    
    framework: netstandard2.0
    source https://api.nuget.org/v3/index.json

    nuget JetBrains.Annotations

group _Engine
    
    framework: netstandard2.0
    source https://api.nuget.org/v3/index.json

    nuget Stateless

group _IO

    framework: net472
    source https://api.nuget.org/v3/index.json

    nuget HtmlAgilityPack

group _UI

    framework: net472
    source https://api.nuget.org/v3/index.json

    nuget Caliburn.Micro
    nuget MahApps.Metro
    nuget ModernUI.WPF
    nuget OxyPlot.Wpf
    nuget ReactiveUI.WPF

group _Console

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget Antlr4
    nuget CommandLineParser
    nuget JetBrains.Annotations
    nuget Unity

group _Support

    framework: netstandard2.0
    source https://api.nuget.org/v3/index.json

    nuget Antlr4
    nuget Humanizer.Core
    nuget J2N ~> 1.0.0-beta-0002
    nuget Lucene.Net >= 4.8.0-beta00001
    nuget Lucene.Net.Analysis.Common >= 4.8.0-beta00001
    nuget Newtonsoft.Json
    nuget NLog
    nuget System.Reactive
    nuget System.Reactive.Linq

group _Test

    framework: net472
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Moq
    nuget xunit
    nuget xunit.runner.visualstudio

group _Test_vNext

    framework: netcoreapp3.1
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Microsoft.NET.Test.Sdk
    nuget Moq
    nuget xunit
    nuget xunit.runner.visualstudio