storage: none
framework: net6.0
source https://api.nuget.org/v3/index.json

nuget Antlr4
nuget Autofac
nuget HtmlAgilityPack
nuget Humanizer.Core
nuget JetBrains.Annotations
nuget J2N ~> 1.0.0-beta-0002
nuget Lucene.Net ~> 4.8.0-beta00007
nuget Lucene.Net.Analysis.Common ~> 4.8.0-beta00007
nuget Newtonsoft.Json
nuget NLog
nuget Polly
nuget SixLabors.ImageSharp ~> 2.1.0
nuget System.Diagnostics.DiagnosticSource ~> 6.0.0.0
nuget System.Reactive ~> 4.4.1.0
nuget System.Reactive.Linq ~> 4.4.1.0
nuget System.Runtime.InteropServices.WindowsRuntime ~> 4.3.0
nuget System.Threading.Tasks.Extensions
nuget YamlDotNet

group _UI

    storage: none
    framework: net6.0-windows
    source https://api.nuget.org/v3/index.json

    nuget Caliburn.Micro ~> 4.0.173.0
    nuget Caliburn.Micro.Core ~> 4.0.173.0
    nuget Humanizer.Core
    nuget MahApps.Metro
    nuget OxyPlot.Wpf
    nuget ReactiveUI ~> 11.5.17.0
    nuget ReactiveUI.WPF ~> 11.5.17.0
    nuget Splat ~> 9.0
    nuget System.Reactive ~> 4.4.1.0

group _Console

    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget CommandLineParser

group _Test

    storage: none
    framework: net6.0
    source https://api.nuget.org/v3/index.json

    nuget FluentAssertions
    nuget Microsoft.NET.Test.Sdk
    nuget Moq
    nuget SpecFlow.Plus.LivingDocPlugin
    nuget SpecFlow.xUnit
    nuget System.Diagnostics.DiagnosticSource ~> 6.0.0
    nuget System.Drawing.Common
    nuget System.Windows.Extensions
    nuget xunit
    nuget xunit.runner.visualstudio